@font-face {
      font-family: 'RedHat';
      src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
h3, h4, h5{
    margin: 0;
}
button{
    cursor: pointer;
}
.attribution{ 
      font-size: 11px;
      text-align: center; }
.attribution a { 
      color: hsl(228, 45%, 44%); 
}
h1,p{
      padding:0;
      margin: 0;
}
body{
      font-family: 'RedHat';
      background-color: hsl(13, 31%, 94%);
      margin: 0;
      padding: 0;
}
.main-body{
      padding: 3em 5em;
      display: grid;
      grid-template-columns: 1fr 30%;
}
.food-section {
      display: grid;
      gap: 20px 10px;
      padding-top: 2em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.food-image {
      width: 100%;
      border-radius: .5em;
      height: auto;
      object-fit: cover;
}
.food-description{
      line-height: .7cm;
      margin-top: 1em;
}
.add-to-cart{
      display: flex;
      gap: 1em;
      background-color: white;
      padding: 7px 20px;
      width: fit-content;
      border-radius: 1em;
      position: absolute;
      bottom: -15px;
      justify-content: center;
}
.food-image-section{
      position: relative;
      display: flex;
      justify-content: center;
}

.right-part{
    background-color: white;
    width: 23%;
    height: fit-content;
    border-radius: 1em;
    padding: 1em 1em;
    position: fixed;
    right: 3%;
}

.right-part h2{
    margin: 0;
    color: hsl(14, 86%, 42%);
}

.confirm-order{
    margin-top: 1em;
    width: 100%;
    background-color: hsl(14, 86%, 42%);
    border: none;
    padding-block: .5em;
    border-radius: 1em;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.15s;
}

.confirm-order:hover{
    opacity: .5;
}

.price-tag{
    margin-top: 1em;
}

.cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.price-tag strong{
    color: hsl(14, 86%, 42%);
    line-height: 1cm;
}

.item-clearance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.cancel-button{
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    background-color: transparent;
    border-color: hsl(14, 86%, 42%);
    transition: all 0.15s;
}

.cancel-button:hover{
    opacity: 0.4;
}

.cancel-button:active{
    opacity: 0.8;
}

.quantity-selector {
  display: none;
  background-color: hsl(14, 86%, 42%);
  border-radius: 1em;
  padding: 7px 10px;
  gap: 37px;
  align-items: center;
}

.food-image-section:hover .quantity-selector {
  display: flex;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.15s;
}

.quantity-btn {
    background-color: transparent;
  color: white;
  border: none;
  padding: 0 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3em;
}
.quantity-num {
  min-width: 20px;
  text-align: center;
  font-size: 1em;
  color: white;
}
.item-line{
    width: 93%;
    opacity: 0.2;
}

.delivery-note{
    margin-top: 1em;
    display: flex;
    background-color: hsl(13, 31%, 94%);
    padding-block: .5em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.cart-total{
    display: none;
}
.total-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 890px) {
    .food-image {
      width: 80%;
    }   

     .food-section {
    grid-template-columns: repeat(2, 1fr);
  }

    .main-body{
      padding: 1em 1em;
    }
    .add-to-cart{
      display: none;
    }
    
    .quantity-selector {
    display: flex;
    position: absolute;
    padding: 0 6px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    gap: 12px
    }
    
    .delivery-note-text{
        font-size: 10px;
    }
}