@font-face {
      font-family: 'RedHat';
      src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
h3, h4, h5{
    margin: 0;
}
button{
    cursor: pointer;
}
.attribution{ 
      font-size: 11px;
      text-align: center; }
.attribution a { 
      color: hsl(228, 45%, 44%); 
}
h1,p{
      padding:0;
      margin: 0;
}
body{
      font-family: 'RedHat';
      background-color: hsl(13, 31%, 94%);
      margin: 0;
      padding: 0;
}
.main-body{
      padding: 3em 5em;
      display: grid;
      grid-template-columns: 1fr 30%;
}
.food-section{
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 in a row */
      gap: 20px 10px; /* spacing between items */
      padding-top: 2em;
}
.food-image{
      width: 9cm;
      border-radius: .5em;
}
.food-description{
      line-height: .7cm;
      margin-top: 1em;
}
.add-to-cart{
      display: flex;
      gap: 1em;
      background-color: white;
      padding: 7px 20px;
      width: fit-content;
      border-radius: 1em;
      position: absolute;
      bottom: -15px;
      justify-content: center;
}
.food-image-section{
      position: relative;
      display: flex;
      justify-content: center;
}

.add-to-cart:hover{
      background-color: hsl(14, 86%, 42%);
}
.right-part{
    margin-left: 3em;
    background-color: white;
    height: fit-content;
    border-radius: 1em;
    padding: 1em 1em;
}

.right-part h2{
    margin: 0;
    color: hsl(14, 86%, 42%);
}

.confirm-order{
    margin-top: 1em;
    width: 100%;
    background-color: hsl(14, 86%, 42%);
    border: none;
    padding-block: .5em;
    border-radius: 1em;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.15s;
}

.confirm-order:hover{
    opacity: .5;
}

.price-tag{
    margin-top: 1em;
}

.cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.price-tag strong{
    color: hsl(14, 86%, 42%);
    line-height: 1cm;
}

.item-clearance{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5em;
}

.cancel-button{
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    background-color: transparent;
    border-color: hsl(14, 86%, 42%);
    transition: all 0.15s;
}

.cancel-button:hover{
    opacity: 0.4;
}
